.navbar {
  height: 5rem;
  width: 100vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row; 
  align-items: center;
  position: sticky;
  justify-content: space-between;
  background: rgba(236, 214, 181, 0.9);  
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: background 0.3s, box-shadow 0.3s;  
  backdrop-filter: blur(0.5px);  
}
.navlinkitem{
    text-decoration: none;
    margin:1rem;
    cursor: pointer; 
}

.navlinkitem:hover{
    color:#D8A04F ;
}
.links{ 
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    font-size:larger ;  
    margin-right: 40%;
} 
.logo{
object-fit: cover;
height: 5rem;
width: 7rem;
}