 
  @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit:ital,wght@0,200;0,300;0,400;1,200&display=swap');
 
 
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    position: relative;
}
.text{
    flex: 1 0 40%;
    padding: 0 1rem;

}
.image{
    object-fit: cover;
    height:20rem ;
    
}
.title{
    
    font-size :3em;
    font-weight: bold !important;
    text-align: center;

}
.description{ 
    color: #2a2b01;
    text-align: center;
    padding-top: 2rem;
    font-size: 4rem;
    font-family: 'Kanit', sans-serif;

}
.span{ 
    font-family: 'Dela Gothic One', cursive;
color: #f0ca6a;
}
