.hello-container {
  background: linear-gradient(to bottom,#B1B695 , #A690A4);

  }
  
  .icon-scroll,
.icon-scroll:before { 
  
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: 50%; 
  margin-top: 3% ; 
  box-shadow: inset 0 0 0 1px #000000;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #000000;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

.about-container {
  background: linear-gradient(to bottom, #A690A4, #0D3B66);
  padding-top: 10%;
}