@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit:ital,wght@0,200;0,300;0,400;1,200&display=swap');

#text{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    line-height: 1.8; 
    word-spacing: 2px;
}
 
#h1p{ 
 
    font-family: 'Roboto Slab', serif; 

}