.containerrr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    background-color: #000000;
    color: white;
    font-size: 21px;
    flex-wrap: wrap;
    text-align: center;
}
.linkat{
    display: flex;
    align-items: center;
    gap: 12%;
    width: 23%;
    justify-content: center;

}
.adress{
    display: flex;
    align-items: center;
    width: 33.33333333%;
    gap: 3%;
    justify-content: center;
}
.copyright{
    display: flex;
    align-items: center;
    width: 33.33333333%;
    justify-content: center;
    

}